{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load humanize %}
{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/papaya.css" %}" />

<script type="text/javascript">
var params = {
                "orthogonal": false, 
             // "showRuler":true,
             // see https://github.com/rii-mango/Papaya/issues/86#issuecomment-281167546
             // we will want to re-enable this
                "mainView": "axial",
                "kioskMode": true, 
                "worldSpace": true, 
                "smoothDisplay": true, 
                "showControls": false,
                "fullScreen": false,
                "allowScroll": true,                
                "showImageButtons": false, 
                "showOrientation": false,
                "images": ["{{ image.original.url }}"]
             }
</script>
<script type="text/javascript" src="{% static "js/papaya.js" %}"></script>
<style>
.outside_wrapper{ 
    width:640px; height:550px; 
    margin:20px 0px; 
    border:0px solid transparent;
    box-sizing: none !important;
}
.inside_wrapper{ 
    width:100%; height:100%; 
    position:relative;
    box-sizing: none !important;
}
.som_image{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    box-sizing: none !important;
}
#previous_overlay{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    box-sizing: none !important;
    background: rgba(76, 175, 80, 0.3);
}
#som_sketch{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    box-sizing: none !important;
}
.button {
    cursor: pointer;
}
.button:hover{
    color: purple;
}
</style>
{% endblock %}

{% block content %}
{% include 'messages/message.html' %}
{% include 'base/loader.html' %}

<div class="row">
    <div class="col-md-6">
        <div class="outside_wrapper">
            <div class="inside_wrapper">
                <div class="papaya som_image" data-params="params" style="height: 100%; width: 100%; margin: 0px; padding: 0px"></div>
            </div>
        </div>
        <div style="padding-left:60px">
             <span style="color:#CCC">{{ image.uid }}</span>
        </div>
    </div>
    <div class="col-md-6">
        <form id="save_description" class="form-horizontal" method="post" action="{% url 'describe_image' image.id %}">
             <input type="hidden" name="image_id" id="{{ image.id }}" value="{{ image.id }}">  
             <div class="form-group">
                 <h3>What do you see?</h3>
                 <textarea class="form-control" rows="15" id="description" name="description">{% if description %}{{ description.description }}{% endif %}</textarea>
             </div>
            {% csrf_token %}
        </form>

        <div>
            <button class="btn btn-primary" id="submit" style="margin-left:0px">Submit</button>
            <button id="skip_button" class="btn btn-primary">Skip</button>
        </div>
 
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type='text/javascript'>
$(function() {

   $("#submit").click(function(){
       $("form").submit();
   });

  // Remove the crosshairs
  // setTimeout(function(){
  //   papayaContainers[0].preferences.updatePreference("showCrosshairs","No")
  // }, 500)

    // Left and right arrow keys navigate as well
    $(document).keydown(function(e) {

        if (e.which == 37) { 
            history.back();
            e.preventDefault();
            return false;
         }
        
        if (e.which == 39) { 
           // Here is the previous description, if defined
           previous_description = "{% if description %}{{ description.description }}{% endif %}"
           current_description = $("#description").text();
          
           // If the previous description is the same as current, assume the user wants to skip
           if (previous_description == current_description) {
               document.location = "{% url 'collection_describe_image' collection.id %}"   
           } else {
               $("form").submit();
           }
           e.preventDefault();
           return false;
        }
    });
 
   $("#skip_button").click(function(){
       document.location = "{% url 'collection_describe_image' collection.id %}"
   });
})
</script>
{% endblock %}
