{% extends "main/base.html" %}
{% load staticfiles %}
{% block head %}
{% endblock %}

{% block body %}
<body>
 <main>

        <!--Main layout-->
        <div class="container">
            <div class="row">

                <!--Sidebar-->
                {% if sidebar %}
                    {% include "main/sidebar.html" %}
                <!--Main column-->
                <div class="col-md-8" style="margin-top:100px">
                {% else %}
                <div class="col-md-12" style="margin-top:100px">
                {% endif %}

		<div class="row">
		    <div class="col-md-2" style="padding-top:50px">
			<h2>What is it?</h2>
		    </div>
		    <div class="col-md-10">
			<p style="padding-top:50px;line-height:1.5em">In a sea of things that need annotation, you would be lucky to find a Wordfish. We are developing an annotation tool for experts to label things. It is an effort toward collaborative annotation to produce publicly available datasets for research. Wordfish will (eventually) allow for a combination of human- and algorithm- derived annotations of reports. This work is being done by the <a href="http://langlotzlab.stanford.edu" target="_blank">Langlotzlab</a> at Stanford University.</p>
		    </div>
		</div>
		<hr>
                <div class="row">
                     <div class="col-md-offset-5 col-md-2" style="margin-top:20px">
                         <img src="{% static 'img/{{cookiecutter.project_slug}}/{{cookiecutter.project_slug}}.png' %}"/>
                     </div>
                     <div class="col-md-offset-5 col-md-2" style="float:right">
			<div id="lockdown" style='margin-top:100px'>
			      {% if form %}
			      <form action="" method="post">{% csrf_token %}
				  {{ form.as_p }}
				  <button class="btn btn-default btn-lg" type="submit" value="Preview">Enter</button>
			      </form>
			      {% endif %}
			</div>
                   </div>
                </div>
                </div>
                <!--/.Main column-->

            </div>
        </div>
        <!--/.Main layout-->

    </main>

    <!-- JQuery -->
    <script type="text/javascript" src="{% static "js/jquery-2.2.3.min.js"%}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static "js/tether.min.js"%}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static "js/bootstrap.min.js"%}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static "js/mdb.js"%}"></script>
    {% block scripts %}{% endblock %}

</body>
{% endblock %}
