{% extends "main/base.html" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2" style="padding-top:50px">
        <h2>Notifications</h2>
    </div>
    <div class="col-md-12">
        {% if notifications %}
        <ul class="notifications">
        {% for notice in notifications %}
            {% include 'notifications/notice.html' %}
        {% endfor %}
        </ul>
        {% else %}
        <p style="margin-top:20px" class="alert alert-info">You don't have any notifications.</p>
        <a href="{% url 'my_report_collections' %}"><button class="btn btn-primary btn-sm">Back to my Collections</button></a>
        {% endif %}
    </div>
</div>

<hr>
{% endblock %}
