<link href="https://cdn.datatables.net/1.10.13/css/dataTables.material.min.css" media="screen" rel="stylesheet" type="text/css">
<style>
.mdl-grid {
  padding:0px !important;
  margin:0px !important;
  width:100% !important;
}

.mdl-grid, .mdl-cell {
  padding:0px !important;
  margin:0px !important;
}

.dataTables_length {
  float: left !important;
}

#entities_table_filter{
  float:right !important
}
</style>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.material.min.js"></script>

