                    <li class="col-sm-4">
                        <ul>
                            <li class="dropdown-header">Featured Containers</li>                            
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner">

                                <div class="item active">
                                    <a href="#"><img src="http://placehold.it/254x150/3498db/f5f5f5/&text=Workflow+One" class="img-responsive" alt="workflow 1"></a>
                                    <h6><small>Container One</small></h6>                                        
                                </div><!-- End Item -->

                                <div class="item">
                                    <a href="#"><img src="http://placehold.it/254x150/ef5e55/f5f5f5/&text=Workflow+Two" class="img-responsive" alt="workflow 2"></a>
                                    <h6><small>Make your meatballs with HPC</small></h6>                                        
                                </div><!-- End Item -->

                                <div class="item">
                                    <a href="#"><img src="http://placehold.it/254x150/2ecc71/f5f5f5/&text=Workflow+Three" class="img-responsive" alt="workflow 3"></a>
                                    <h6><small> What would the wookie do?</small></h6>                                        
                                </div><!-- End Item -->                                
                              </div><!-- End Carousel Inner -->
                            </div><!-- /.carousel -->
                        </ul>
                    </li>

