{% extends "base/base.html" %}
{% load staticfiles %}
{% block head %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12" style="line-height:1.5em">
        <h2>Bone Age Prediction</h2>
        <p>We can predict bone age from a radiograph! This work is being done by the <a href="http://langlotzlab.stanford.edu" target="_blank">Langlotzlab</a> at Stanford University.</p><br>
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="padding-top:50px;line-height:1.5em">
        <a href="{% url 'make_prediction' %}"><button class="btn btn-primary" type="button">Make a Prediction</button></a>
    </div>
    <div class="col-md-8" style="padding:50px;line-height:1.5em">
        <img style="float:right;margin-right:50px" src="{% static 'img/wordfish/wordfish.png' %}"/>
    </div>
</div>

<hr>
{% endblock %}



